	
.blackcolor{
		width: 100%;
		height: 500px;
		background-color: black;
}

.food{
	color: white;
	font-size: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	padding-top: 110px;
	animation-name: foot;
	animation-duration: 4s;
	animation-iteration-count: 1;
	font-weight: bold;
}

	@keyframes foot{
		0%{
			color: black;
		}

		100%{
			color: #fff;
		}
	}

	.fon{
		width: 200px;
		height: 80px;
		background-color: black;
		position: absolute;
		left: 52%;
		top: 130px;
		transform: translateX(200px);
		animation-name: sabyr;
		animation-duration: 3s;
		animation-iteration-count: 1;

	}

	@keyframes sabyr{
		0%{
			transform: translateX(0px);
		}

		100%{
			transform: translateX(200px);
		}
	}

	.text{
		color: black;
		font-size: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		animation-name: besoft;
		animation-duration: 2s;
		animation-iteration-count: 1;
		animation-delay: 1.5s;
		animation-timing-function: linear;
		animation-fill-mode: forwards; 
	}

	@keyframes besoft{
		from{
			color: black;
		}

		to{
			color: #fff;
		}
	}

	.anime{
		position: relative;
	}

	.img{
		border-radius: 100%;
		position: absolute;
		left: 43%;
		top: -100px;
		animation-name: pizza;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes pizza{
		from{
			transform: rotate(0deg);
		}

		to{
			transform: rotate(360deg);
		}
	}

	.reclama{
		width: 100%;
		/*border: 2px  dashed red;*/
		margin-top: 75px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: space-between;
	}

	.margin{
		margin-top: 0px;
	}

	.pizza{
		width: 700px;
		height: 600px;
		border: 2px dashed black;
		border-radius: 20px;
		margin: 20px;
		display: flex;
		overflow: hidden;
		transition-duration: 500ms;
		cursor: pointer;
		box-shadow: 5px 5px 10px black;
	}

	.block{
		width: 350px;
		height: 600px;
		/*border: 2px dashed red;*/
		position: relative;
		
	}

	.pizza:hover>.block>.png{
		left: 0px;
	}

	.png{
		position: absolute;
		left: -255px;
		border-radius: 100%;
		transition-duration: 500ms;
	}

	.block1{
		width: 350px;
		height: 600px;
		/*border: 2px dashed red;*/
		/*background-color: #faf9f5;*/
	}

	.h1{
		font-size: 40px;
		text-align: center;
	}

	.p{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 20px;
		text-align: justify;
		color: grey;
	}

	.h2{
		padding-left: 20px;
		font-size: 30px;
		color: blue;
	}

	.button{
		width: 200px;
		padding: 10px;
		border: 0px;
		background-color: blue;
		color: #fff;
		font-weight: bold;
		margin-left: 20px;
		border-radius: 10px;
		font-size: 20px;
		position: absolute;
		cursor: pointer;
	}

	.button:active{
		background-color: green;
	}